body{
    margin: 0;
}
.encabezado, .contenido-lateral{
    padding: 1em 2em ;
}
.contenido, .contenido-lateral, .pie-pagina{
    float: left;
    box-sizing: border-box;
}
.encabezado{
    background-color: #fff;
    height: 100px;
}

.contenido{
    width: 80%;
}
.contenido-lateral{
    width: 20%;
    background-color: #ffc107;
    height: 512px;
    font-family: 'Open Sans', sans-serif;
    margin: 0.5em 0 0 0;
}
.post{
    background-color: rgba(117, 255, 26,0.46);
    height: 512px;
    padding: 0;
}
.pie-pagina{
    width: 100%;
    background-color: black;
    height: 50px;
}
@media screen and (min-width: 789px) and (max-width: 1024px){
    .encabezado{
        background-color: rgb(246,246,243); 
    }
    .contenido, .contenido-lateral{
        width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px){
    .encabezado{
        background-color: rgb(246, 246, 243);
    }
    .contenido, .contenido-lateral{
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .encabezado{
        height: 80px;
    }
    .contenido{
        background-color: rgb(250, 250, 168);
    }
    .contenido, .contenido-lateral{
        width: 100%;
    }
}
#logo {
    background-attachment: fixed;
    margin: 0;
    border: 0;
    text-align: center;
 }
 img{
     height: 80px;
 }
 .div-content {
    width: 310px;
    padding: 8px;
    margin: 0;
}
p{
    width: 110px;
    padding: 1em;
    margin: 0;
}
ul{
    width: 180px;
    padding:5px;
    margin: 0;
}
li{
    list-style: none;
}
#div-student{
    width: 100%
}
#div-student .div-name,#div-student .div-progress{
    display: table-cell;
} 
.div-name{
    background: beige;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.div-progress{
    background:bisque;
    margin: 0;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
