body {
    font-family: 'Bitter', serif;
    color: #333333;
    margin: 0;
    padding: 0;
 }

 #logo {
    background-color: white;
    background-attachment: fixed;
    margin: 0;
    padding: 2em 2em;
    border: 0;
    text-align: center;
 }
 
 #verticalBar {
    background-color: #ffc107;
    font-family: 'Bitter' serif;
    font-weight: bold;
    font-size: 1em;
    box-sizing: border-box;
    width: 250px;
    height: 655px;
    padding: 0em 2em 0em 2em;
    margin: 0;
    display: inline;
    float: left;
 }
 
 #showing {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    width: calc(100% - 250px);
    height: 655px;
    margin: 0;
    padding: 0em 0em 0em 2em;
    box-sizing: border-box;
    display: inline;
    float: right;
    vertical-align: top;
 }
 
main {
    overflow: auto;
}

hr {
    margin: 0;
    padding: 0;
}

 footer {
    box-sizing: border-box;
    background-color:black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5em 0.5em;
 }
 

 @media (max-width:480px) {
     main {
        width: 100%;
     }

     #verticalBar {
        width: 100px;
     }
     #showing {
         width: calc(100% - 100px)
     }
 }

 .table{
     border: 1px solid #000;
     border-collapse: collapse;
     min-width: 500px;
     max-height: 300px;
     overflow-x:auto;
 }
 .table td,th{
     border: 1px solid #000;
     padding: 10px;
 }
 .table tr:hover{
     background:#ccc;
 }
 .table td:hover{
     background: #888;
     color: black;
 }


 













