body {
    font-family: 'Bitter', serif;
    color: #333333;
    margin: 0;
 }

 #logo {
    background-color: aqua;
    background-attachment: fixed;
    margin: 0;
    padding: 2em 2em;
    border: 0;
    text-align: center;
 }
 
 #verticalBar {
    background-color: #ffc107;
    font-family: 'Bitter' serif;
    font-weight: bold;
    font-size: 1em;
    box-sizing: border-box;
    width: 250px;
    height: 700px;
    padding: 0em 2em 0em 2em;
    margin: 0;
    display: inline-block;
 }
 
 #horizontalBar {
    background-color: #ffc107;
    font-family: 'Bitter', serif;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0em 0em 0em 2em;
    width: 84%;
    height: 50px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
 }
 
 #showing {
    background-color: blueviolet;
    font-family: 'Open Sans', sans-serif;
    width: 1329px;
    height: 700px;
    margin: 0;
    padding: 0em 0em 0em 2em;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
 }
 
 footer {
    box-sizing: border-box;
    background-color: chartreuse;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5em 0.5em;
 }
 