body {
    font-family: 'Bitter', serif;
    color: #333333;
    margin: 0;
    padding: 0;
    height: 100%;
 }

 #logo {
    background-color: white;
    background-attachment: fixed;
    margin: 0;
    padding: 0.5em 0.6em;
    border: 0;
    text-align: center;
 }
 img{
     height: 80px;
 }
 #verticalBar {
    background-color: #ffc107;
    font-family: 'Bitter' serif;
    font-weight: bold;
    font-size: 1em;
    box-sizing: border-box;
    width: 250px;
    height: 528px;
    padding: 0em 2em 0em 2em;
    margin: 0;
    float: left;
 }
 
 #showing {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    width: calc(100% - 250px);
    height: 528px;
    margin: 0;
    padding: 0em 0em 0em 1em;
    box-sizing: border-box;
    float: right;
    vertical-align: top;
 }
 main{
     overflow: auto;
 }
hr {
    margin: 0;
    padding: 0;
}

 footer {
    box-sizing: border-box;
    background-color:black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5em 0.5em;
 }
 

 @media (max-width:480px) {
     main {
        width: 100%;
     }

     #verticalBar {
        width: 100px;
     }
     #showing {
         width: calc(100% - 100px)
     }
 }
#generacion {
    width: 160px;
}
option{
    width: 100px;
}
/*estilos div */
.div-content {
    width: 200px;
    padding: 20px;
    margin: 0;
}
p , ul{
    width: 200px;
    padding: 1em;
    margin: 0;
}
#div-student{
    width: 100%
}
#div-student .div-name,#div-student .div-progress{
    display: table-cell;
    border: 1px solid;
} 
.div-name{
    background: beige;
}
.div-progress{
    background:bisque;
}







